- content_for :head do
  %meta{ :property => "og:title",
         :content => "#{@user.first_name.possessive + " " if @user.first_name.present?}Professional Timeline" }
  %meta{ :property => "og:type", :content => "website" }
  %meta{ :property => "og:url", :content => request.url }
  - if @user.image.present?
    %meta{ :property => "og:image", :content => @user.image }
  - else
    %meta{ :property => "og:image", :content => "https://a248.e.akamai.net/assets.github.com/images/modules/header/logov6-hover.png" }
  %meta{ :property => "og:site_name", :content => "LN Timeline" }
  %meta{ :property => "fb:admins", :content => "215918" }

.nav-container
  .nav
    - if @user == current_user
      = form_for(@user, :html => { :class => "privacy #{@user.public? ? "public" : "private"}" },
        :remote => true) do |f|
        = f.submit "Private", :class => "private-button button", :disable_with => "Saving..."
        = f.submit "Public", :class => "public-button button", :disable_with => "Saving..."
    .social-networks{ :class => "#{@user.public? ? "public" : "private"}" }
      %ul.private-share
        %li.facebook{ :title => "Profile is not public" }
        %li.twitter{ :title => "Profile is not public" }
        %li.linkedin{ :title => "Profile is not public" }
        %li.google{ :title => "Profile is not public" }
      %ul.public-share
        %li
          %fb:like{ :href => request.url, :send => false, :layout => "button_count", :show_faces => false,
            :font => "lucida grande" }
        %li
          %a{ :href => "https://twitter.com/share", :class => "twitter-share-button",
              "data-text" => "LinkedIn profile in a timeline" } Tweet
        %li
          %script{ :type => "IN/Share", "data-url" => request.url, "data-counter" => "right" }
        %li
          %g:plusone{ :size => "medium" }
    - if @user == current_user
      %p
        = link_to t("users.sign_out"), logout_users_path
      %p
        = link_to t("users.delete_profile"), user_path(current_user), :method => :delete
    - else
      %p
        = link_to t("users.my_profile"), users_path
    - if @user.importing_linkedin_data?
      %p.importing{ "data-check-url" => importing_user_path(@user) }
        = t("users.importing_profile")
        
    

.card.profile-header
  .picture
    = image_tag(@user.image.blank? ? asset_path("profile.png") : @user.image)
  
  - if @user.location.present? || @user.industry.present?
    .sub-header
      - if @user.industry.present?
        %p.industry
          = @user.industry
      - if @user.location.present? && @user.industry.present?
        .vertical-divider
      - if @user.location.present?
        %p.location
          = @user.location
    
  %h1.name
    = @user.name
  - if @user.description.present?
    %p.description
      = @user.description
  .info
    .clip.connections
      = "#{@user.num_connections}#{@user.num_connections_capped? ? "+" : ""}"
    - if @user.location.present?
      .clip
        %a{ :href => "http://maps.google.com?q=#{URI.escape(@user.location)}", :target => "_blank"}
          %img{ :src => "http://maps.googleapis.com/maps/api/staticmap?markers=#{URI.escape("color:green|size:small|"+@user.location)}&size=110x70&sensor=false" }
    - if @user.summary.present?
      = @user.summary

.timeline-container{ :'data-end-date-number' => @end_date_number }
  = render :partial => "users/card", :collection => @episodes
  .timeline
    .extent
    
#fb-root
