!!! 5

%html{ "xmlns:fb" => "http://ogp.me/ns/fb#" }
  %head
    %title LN Timeline
    = stylesheet_link_tag("application")
    = javascript_include_tag("application")
    = javascript_include_tag("//platform.twitter.com/widgets.js")
    = javascript_include_tag("http://platform.linkedin.com/in.js")
    = csrf_meta_tag
    = yield :head
    
  %body
    #content{ :class => "#{controller_name}-#{action_name}" }
      - if notice.present?
        %p.notice= notice
      - if alert.present?
        %p.alert= alert
      = yield
